<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Article List Page
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="logout()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      Articles
    </ion-list-header>
    <ion-item *ngFor="let item of items$ | async">
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>