<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Login Page
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-input [(ngModel)]="email" type="text" placeholder="Enter e-mail"></ion-input>
  <ion-input [(ngModel)]="password" type="password" placeholder="Enter password"></ion-input>
  <ion-button type="submit" (click)="login()">Login</ion-button>
</ion-content>